ol{
    list-style: none;
    counter-reset: contador;
}
ol li{
    counter-increment: contador;
}
ol li::before{
    content:'Curso ' counter(contador) ') ';
    color:#ff6f00;
}
ol li::after{
    content: '.';
}