.titulo{
    color:#f72585;
    text-align: center;   
}
.marco{
    width: 100%;
    height: 200px;
    border: 1px solid #f72585 ;
}
.centrar{
    text-align: center;
}
.boton{
    background-color: white;
    border: 2px solid #457b9d;
    text-decoration: none;
    display: inline-block;
}