table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    /* border-spacing: 5px; */
    padding: 5px;
}
table{
    width: 100%;
}
caption{
    color: #e63946;
    font-family: 'Trocchi',serif;
    font-size:45px;
    line-height: 70px;
}
th{
    color: #f1faee;
    background-color: #1d3557;
}
/* reglones pares */
tr:nth-child(even){
    background-color:#f1faee;
}
/* reglones impares */
tr:nth-child(odd){
    background-color:#a8dadc;
}
/* td{
    text-align: center;
}
th{
    text-align: left;
} */